<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head th:fragment="common-head">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Navbar Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link
      href="/src/main/resources/static/css/bootstrap.min.css"
      rel="stylesheet"
    />

    <!-- Custom styles for this template -->
    <link href="/src/main/resources/static/css/style.css" rel="stylesheet" />
  </head>

  <body>
    <div th:fragment="common-navbar">
      <div style="width: 50%; background-color: darksalmon; height: 1em"></div>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#"
          ><svg
            width="2em"
            height="2em"
            viewBox="0 0 16 16"
            class="bi bi-bullseye"
            fill="currentColor"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              d="M8 15A7 7 0 1 0 8 1a7 7 0 0 0 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
            />
            <path
              fill-rule="evenodd"
              d="M8 13A5 5 0 1 0 8 3a5 5 0 0 0 0 10zm0 1A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"
            />
            <path
              fill-rule="evenodd"
              d="M8 11a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 1a4 4 0 1 0 0-8 4 4 0 0 0 0 8z"
            />
            <path d="M9.5 8a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0z" /></svg
        ></a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#"
                >Home <span class="sr-only">(current)</span></a
              >
            </li>

            <li class="nav-item dropdown" style="margin-right: 1em">
              <a
                class="nav-link dropdown-toggle"
                href="#"
                id="navbarDropdown"
                role="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                Products
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Men</a>
                <a class="dropdown-item" href="#">Women</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Kids</a>
              </div>
            </li>
            <li class="nav-item">
              <form class="form-inline my-2 my-lg-0">
                <input
                  class="form-control mr-sm-2"
                  type="search"
                  placeholder="Search"
                  aria-label="Search"
                />
                <button
                  class="btn btn-outline-success my-2 my-sm-0"
                  type="submit"
                >
                  Search
                </button>
              </form>
            </li>
          </ul>
          <ul class="navbar-nav mr-2">
            <li class="nav-item">
              <a href="" class="navbar-text my-2 mr-sm-3">My Cart</a>
            </li>
            <li class="nav-item">
              <a href="" class="navbar-text mr-sm-3 my-2">My Account</a>
            </li>
            <li class="nav-item">
              <a href="" class="navbar-text mr-sm-3 my-2">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </body>
</html>
