.container {
  margin-top: 1em;
  margin-bottom: 3em;
  max-width: 90%;
}

.changes .carousel-inner {
  max-height: 500px;
}
.change {
  max-height: 500px;
}
hr {
  border: 2px solid #333333;
}

.home-headline {
  font-family: "Times New Roman", Times, serif;
  font-size: 26px;
  margin: auto;
  text-align: center;
  color: whitesmoke;
  margin-top: -5px;
}

.home-headline span {
  background-color: black;
  padding: 5px 22px;
}
